@font-face {
  font-family: 'star_jedi';
  font-style: normal;
  font-weight: 400;
  src:
    url(./ui/fonts/star_jedi/starjedi/Starjedi.ttf) format('truetype')
}

@font-face {
  font-family: 'jedi-outline';
  font-style: normal;
  font-weight: 400;
  src:
    url(./ui/fonts/star_jedi/starjedi/Starjhol.ttf) format('truetype')
}

@font-face {
  font-family: 'stjedise';
  font-style: normal;
  font-weight: 400;
  src:
    url(./ui/fonts/star_jedi/stjedise/STJEDISE.TTF) format('truetype')
}


@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.twinkling {
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  min-height:100%;
  background:transparent url(ui/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

