@font-face {
  font-family: 'star_jedi';
  font-style: normal;
  font-weight: 400;
  src:
    url(./ui/fonts/star_jedi/starjedi/Starjedi.ttf) format('truetype')
}

@font-face {
  font-family: 'jedi-outline';
  font-style: normal;
  font-weight: 400;
  src:
    url(./ui/fonts/star_jedi/starjedi/Starjhol.ttf) format('truetype')
}

@font-face {
  font-family: 'stjedise';
  font-style: normal;
  font-weight: 400;
  src:
    url(./ui/fonts/star_jedi/stjedise/STJEDISE.TTF) format('truetype')
}

@font-face {
  font-family: 'death-star';
  font-style: normal;
  font-weight: 400;
  src:
    url(./ui/fonts/sharkshock_death-star/DeathStar.otf) format('opentype')
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.twinkling {
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  min-height:100%;
  background:transparent url(ui/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  z-index: 1;
  overflow: hidden;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  width: 100%;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
  width: 100%;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}